<!-- account/templates/account/create.html -->
{% extends "layout.html" %}
{% load django_bootstrap5 %}

{% comment %}

- pip install django-bootstrap5
- template에서 form을 출력할 때 bootstrap 스타일을 적용.
- form 과 관련된 template 태그들을 제공
1. load : {%load django_bootstrap5%}
2. {{form}} 대신에 {% bootstrap_form  form객체 %}

{% endcomment %}



{% block title %}회원가입{% endblock title %}

{% block contents %}
<h1>회원가입</h1>
<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %} {#{form}#}
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">가입</button>
        <button type="reset" class="btn btn-primary">초기화</button>
    </div>
</form>
{% endblock contents %}